*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container
{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #373f51;
}
.container h3
{
    margin: 35px;
    color: white;
    font-weight: 100;
}

#img  img
{
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, .25);
    width: 250px;
    height: 250px;
    animation-name: loadimg;
    animation-duration: 5s;
}

.btn
{
    padding: 0.5em 0.5em 0.5em;
    margin: 10px;
    width: 450px;
    height: 50px;
    outline: none;
    border: 0px solid transparent;
    background-color: #a9bcd0;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.btn p
{
    font-size: 25px;
    color: #1b1b1e;
    font-family: sans-serif;;
    line-height: 25px;
    font-weight: 100;

}

.btn:hover
{
    transform: scale(1.1);
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.25);
}

#copyright 
{
    color: white;
    text-align: center;
    font-size: 18px;
    margin-top: 25px;
}


@keyframes loadimg
{
    0%{ transform: scale(0)}
    50% { transform: scale(1.25)}
    100% { transform: scale(1)}
}